<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
</head>

<body>
    <title>Add Rectangle</title>
    <form action="/addRectangle" method="POST" style="width: 90vw; margin: auto; margin-top: 2%;">
        <fieldset>
            <input type="text" name="recName" placeholder="Name"> <br>
            <input type="number" name="recHeight" placeholder="Height"> <br>
            <input type="number" name="recWidth" placeholder="Width"> <br>
            <input type="text" name="recColor" placeholder="Color"> <br>
            <input type="submit" class="custom-button">
        </fieldset>
    </form>
    <form action="/" >
        <input type="submit" value="Go Back to Index" style="all:unset; padding: 1px; background-color: yellow; border: 1px solid black; margin-left: 5%; padding: 10px; 
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"/>
      </form>
</body>

</html>