<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
</head>

<body>
  <title>Go Back</title>

    <div id="table-container">
        <div id="buttons">
        <form action="../">
          <a href="../" style="all:unset; text-decoration:none;  margin-left: 5%">
            <input type="submit" value="Go Back To Index" class="custom-button"/>
          </a>
      </form>
      </div>
  </div>


  
</body>
</html>
